body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #000000; /* Dark background for the body */
    color: #ffffff; /* Text color */
}


.nav-link {
    color: yellow; /* Text color */
    text-decoration: none;
    margin: 5px 0; /* Space between buttons */
    font-size: 1.2em;
    padding: 10px 15px; /* Padding for better click area */
    border: 2px solid white; /* White border */
    border-radius: 5px; /* Rounded corners */
    background-color: transparent; /* Make background transparent */
    transition: color 0.3s, transform 0.3s; /* Smooth transition */
}

.nav-link:hover {
    color: #1a1a2e; /* Dark text color on hover */
    transform: scale(1.05); /* Slight zoom effect */
}

/* Responsive Design */
@media (max-width: 768px) {
    .header-title {
        font-size: 2em; /* Smaller title on mobile */
    }
    
    .nav-link {
        font-size: 1em; /* Smaller font size on mobile */
        margin: 5px 0; /* Reduce margin on mobile */
    }
}

